<div class="box">

    <button (click)="close()" class="exitsmall">X</button>

    <h2>Kazuma's Survival Guide</h2>

    <p>1. Don't die.</p>

    <p>2. Cast Steal to steal panties. Hold left mouse button with girl's portrait open.</p>

    <p>3. Search for the items. Use them yourself or distract the girls.</p>
        
    <p>4. Slowly hover over a location. An item will appear when you find the right place.</p>

    <p>5. Don't forget to read the diary!</p>

    <p class="right">- Secret Adventurer</p>

</div>