.pic{

    /* width: 12vh;
    height: 12vh; */

    width: 5.5vw;
    height: 5.5vw;
    
    border: 2px dashed rgb(91, 91, 91);

    object-fit: cover;

    cursor: pointer;
}

.pic:hover{
    filter: brightness(105%);
}

.Megumin{
    border: 2px dashed rgb(194, 65, 68);
    /* box-shadow:  0 0 10px 2px rgb(194, 65, 68); */
}

.Darkness{
    border: 2px dashed rgb(202, 143, 43);
    /* box-shadow:  0 0 10px 2px rgb(202, 143, 43); */
}

.Aqua{
    border: 2px dashed rgb(39, 65, 126);
    /* box-shadow:  0 0 10px 2px rgb(39, 65, 126); */
}

.Wiz{
    border: 2px dashed rgb(73, 53, 90);
    /* box-shadow:  0 0 10px 2px rgb(73, 53, 90); */
}

.Kris{
    border: 2px dashed rgb(106, 147, 103);
    /* box-shadow:  0 0 10px 2px rgb(106, 147, 103); */
}

.Eris{
    border: 2px dashed rgb(93, 92, 145);
    /* box-shadow:  0 0 10px 2px rgb(93, 92, 145); */
}

.Sylvia{
    border: 2px dashed rgb(165, 46, 75);
    /* box-shadow:  0 0 10px 2px rgb(165, 46, 75); */
}

.Yun-Yun{
    border: 2px dashed rgb(49, 47, 59);
    /* box-shadow:  0 0 10px 2px rgb(49, 47, 59); */
}