<div class="box">

    <button (click)="close()" class="exitsmall">X</button>

    <h2>Greetings, traveler!</h2>

    <p>Do you want to steal some panties? Yes, you do! HA-HA-HA-HA-HA</p>

    <p>Good news, you can cast Steal. Bad news, you need to stay alive.</p>

    <p>Read the diary to watch your progress. You might like it!</p>

    <p>Visit locations and search for the items. You will need most of them to get through.</p>

    <p>Good luck!</p>

    <p class="right">- Secret Adventurer</p>

</div>



