<div class="box">

    <button (click)="close()" class="exitsmall">X</button>

    <h2>Greetings, traveler!</h2>

    <p>Do you want to steal some panties? Yes, you do! HA-HA-HA-HA-HA</p>

    <p>Good news, you can cast Steal. To do that, open a girl's portrait and hold left mouse button. That will cost you 1 mana.</p>

    <p>Beware: girls might not like you stealing. Watch your health!</p>

    <!-- <p>To watch your progress, open the diary. To do that, click on Kazuma's portrait in top left corner, then find a diary in your backpack.</p> -->

    <p>To watch your progress, open the diary. You can find it in your backpack.</p>

    <p>Visit locations and search for the items. To discover them, slowly hover over the location. An item will appear when you find the right place.</p>

    <p>Good luck!</p>

    <p class="right">- Secret Adventurer</p>

</div>
