@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }

body { margin: 0; }

/* preloading images to avoid flickering */
body:after {
    content:
    url('assets/loading.jpg')
    url('assets/items/diary_opened.png')
    url('assets/outro/0.png') 
    url('assets/outro/1.jpg') 
    url('assets/outro/2.jpg') 
    url('assets/outro/3.jpg') 
    url('assets/outro/4.png') 
    url('assets/outro/5.png') 
    url('assets/outro/6.png') 
    url('assets/outro/7.jpg') 
    url('assets/outro/8.png') 
    url('assets/outro/9.png') 
    url('assets/outro/10.jpeg')
    url('assets/outro/11.png')
    url('https://github.com/RackerCracker/Steal/raw/main/src/assets/outro.mp3')
    url('assets/blank.png')
    url('assets/yes.jpg');
    
    position: absolute;
    
    width:0; 
    height:0;

    overflow: hidden;
    z-index:-1;
}

/* transparent background of dialogs */
.mdc-dialog__surface {
    background: transparent !important;
}

.other-item-dialog {
    border-radius: 10px;
    /* border: 1px solid rgb(91, 91, 91); */
    overflow: hidden;
}


.diary-dialog{
    background-color: transparent !important;
}

.overlay-dialog{
    border-radius: 5px;
    /* border: 1px solid rgb(225, 225, 225); */
    overflow: hidden;
}

.overlay-location-dialog{
    border-radius: 5px;
    /* border: 1px solid rgb(225, 225, 225); */
    overflow: hidden;
}

::ng-deep mat-dialog-container {
    background-color: transparent !important;
}

